@def edgeSize 10px;
.Thread, .Thread td {
	border-collapse: collapse;
	cell-padding: 0px;
	cell-spacing: 0px;
	border: 0px;
}
@sprite .frameBg {
	gwt-image: 'ImgBg';
}
@sprite .frameTop {
	gwt-image: 'ImgTop';
}
@sprite .frameBottom {
	gwt-image: 'ImgBottom';
}
@sprite .frameLeft {
	gwt-image: 'ImgLeft';
	width: edgeSize;
}
@sprite .frameRight {
	gwt-image: 'ImgRight';
	width: edgeSize;
}
@sprite .frameTopLeft {
	gwt-image: 'ImgTopLeft';
	width: auto;
}
@sprite .frameTopRight {
	gwt-image: 'ImgTopRight';
	width: auto;
}
@sprite .frameBottomLeft {
	gwt-image: 'ImgBottomLeft';
	width: auto;
}
@sprite .frameBottomRight {
	gwt-image: 'ImgBottomRight';
	width: auto;
}
.content {
}
