/** Basic styles. */
.Box, .Box td {
	border-collapse: collapse;
	cell-padding: 0px;
	cell-spacing: 0px;
	border: 0px;
}
.content {
}

/** Theme constants. */
@def edgeSize 10px;
@def edgeSizeBlue 8px;
@def edgeSizeMicroGray 3px;

/** Default theme. */
@sprite .defaultFrameBg {
	gwt-image: 'ImgBg';
}
@sprite .defaultFrameTop {
	gwt-image: 'ImgTop';
}
@sprite .defaultFrameBottom {
	gwt-image: 'ImgBottom';
}
@sprite .defaultFrameLeft {
	gwt-image: 'ImgLeft';
	width: edgeSize;
}
@sprite .defaultFrameRight {
	gwt-image: 'ImgRight';
	width: edgeSize;
}
@sprite .defaultFrameTopLeft {
	gwt-image: 'ImgTopLeft';
	width: auto;
}
@sprite .defaultFrameTopRight {
	gwt-image: 'ImgTopRight';
	width: auto;
}
@sprite .defaultFrameBottomLeft {
	gwt-image: 'ImgBottomLeft';
	width: auto;
}
@sprite .defaultFrameBottomRight {
	gwt-image: 'ImgBottomRight';
	width: auto;
}

/** Blue theme. */
@sprite .blueFrameBg {
	gwt-image: 'ImgBlueBg';
}
@sprite .blueFrameTop {
	gwt-image: 'ImgBlueTop';
}
@sprite .blueFrameBottom {
	gwt-image: 'ImgBlueBottom';
}
@sprite .blueFrameLeft {
	gwt-image: 'ImgBlueLeft';
	width: edgeSizeBlue;
}
@sprite .blueFrameRight {
	gwt-image: 'ImgBlueRight';
	width: edgeSizeBlue;
}
@sprite .blueFrameTopLeft {
	gwt-image: 'ImgBlueTopLeft';
	width: auto;
}
@sprite .blueFrameTopRight {
	gwt-image: 'ImgBlueTopRight';
	width: auto;
}
@sprite .blueFrameBottomLeft {
	gwt-image: 'ImgBlueBottomLeft';
	width: auto;
}
@sprite .blueFrameBottomRight {
	gwt-image: 'ImgBlueBottomRight';
	width: auto;
}

/** Blue theme. */
@sprite .blueFrameBg {
	gwt-image: 'ImgBlueBg';
}
@sprite .blueFrameTop {
	gwt-image: 'ImgBlueTop';
}
@sprite .blueFrameBottom {
	gwt-image: 'ImgBlueBottom';
}
@sprite .blueFrameLeft {
	gwt-image: 'ImgBlueLeft';
	width: edgeSizeBlue;
}
@sprite .blueFrameRight {
	gwt-image: 'ImgBlueRight';
	width: edgeSizeBlue;
}
@sprite .blueFrameTopLeft {
	gwt-image: 'ImgBlueTopLeft';
	width: auto;
}
@sprite .blueFrameTopRight {
	gwt-image: 'ImgBlueTopRight';
	width: auto;
}
@sprite .blueFrameBottomLeft {
	gwt-image: 'ImgBlueBottomLeft';
	width: auto;
}
@sprite .blueFrameBottomRight {
	gwt-image: 'ImgBlueBottomRight';
	width: auto;
}

/** Micro gray theme. */
@sprite .microGrayFrameBg {
	gwt-image: 'ImgMicroGrayBg';
}
@sprite .microGrayFrameTop {
	gwt-image: 'ImgMicroGrayTop';
}
@sprite .microGrayFrameBottom {
	gwt-image: 'ImgMicroGrayBottom';
}
@sprite .microGrayFrameLeft {
	gwt-image: 'ImgMicroGrayLeft';
	width: edgeSizeMicroGray;
}
@sprite .microGrayFrameRight {
	gwt-image: 'ImgMicroGrayRight';
	width: edgeSizeMicroGray;
}
@sprite .microGrayFrameTopLeft {
	gwt-image: 'ImgMicroGrayTopLeft';
	width: auto;
}
@sprite .microGrayFrameTopRight {
	gwt-image: 'ImgMicroGrayTopRight';
	width: auto;
}
@sprite .microGrayFrameBottomLeft {
	gwt-image: 'ImgMicroGrayBottomLeft';
	width: auto;
}
@sprite .microGrayFrameBottomRight {
	gwt-image: 'ImgMicroGrayBottomRight';
	width: auto;
}
